{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Fluent Friend{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}

    <!-- menu icon -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </head>

  <body class="h-screen bg-[#30365F]">
    <header class="w-full bg-white">
      <nav class="flex items-center justify-between flex-wrap w-[92%] mx-auto h-16">
        <!-- left logo container -->
        <div class="flex items-center flex-shrink-0 basis-[12%] mr-6">
          <h1>Fluent Friend</h1>
        </div>
        <!-- container for right of logo -->
        <div class="flex flex-grow items-center w-auto">
          <!-- center container -->
          <div class="flex flex-grow">
            <a class="block block-inline mt-0 mr-4 hover:text-gray-500" href="#">About</a>
          </div>
          <!-- center right container -->
          <div class="flex flex-grow justify-end">
            <div class="block block-inline mt-0 mr-4">
              <button class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Feedback</button>
              <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
            <div class="block block-inline mt-0 mr-4">
              <button class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">Buy me a coffee</button>
              <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
          </div>
        </div>
    </header>
    <script>
      const navLinks = document.querySelector('.nav-links')
      function onToggleMenu(e){
        e.name = e.name === 'menu' ? 'close' : 'menu'
        navLinks.classList.toggle('top-[8%]')
        console.log(e)
      }
    </script>
    {% block body %} {% endblock %}
  </body>
  {% block scripts%}{% endblock %}
</html>
