{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Fluent Friend{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}

    <!-- menu icon -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </head>

  <body class="h-screen">
    <header class="bg-white ">
      <nav class="flex justify-between items-center w-[92%] mx-auto">
        <div>
          <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/5968/5968204.png" alt="..."> 
        </div>
        <div class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
          <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
            <li>
              <a class="hover:text-gray-500" href="#">Products</a>
            </li>
            <li>
              <a class="hover:text-gray-500" href="#">Products</a>
            </li>
            <li>
              <a class="hover:text-gray-500" href="#">Products</a>
            </li>
            <li>
              <a class="hover:text-gray-500" href="#">Products</a>
            </li>
          </ul>
        </div>
        <div class="flex items-center gap-6">
          <button class="bg-[#7a5ccc] text-black px-5 py-2 rounded-full hover:bg-[#b3a1e6]">Sign in</button>
          <ion-icon name="menu" onclick="on_menu_click(this)" class="text-3xl cursor-pointer md:hidden"></ion-icon>
        </div>
      </nav>
    </header>
    <script>
      // allow nav links drop down
      const nav_links = document.querySelector('.nav-links')
      function on_menu_click(e){
        // toggle menu or close button image
        e.name = e.name === 'menu' ? 'close' : 'menu'

        nav_links.classList.toggle('top-[9%]')
      }
    </script>
    {% block body %} {% endblock %}
  </body>
  {% block scripts%}{% endblock %}
</html>
