{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Fluent Friend{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}

    <!-- menu icon -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </head>

  <body class="h-screen bg-dark-background">
    <header class="w-full bg-background">
      <nav class="flex items-center justify-between flex-wrap bg-background mx-auto p-3 lg:w-[92%] lg:h-16">
        <!-- left logo container -->
        <div class="flex items-center flex-shrink-0 basis-[12%] mr-6">
          <h1 class="flex-shrink-0 text-foreground hover:text-cyan">Fluent Friend</h1>
        </div>
        <!-- hidden hamburger -->
        <div class="block lg:hidden">
          <ion-icon id="hamburger-icon" onclick="toggle_dropdown_menu(this)" name="menu" size="large" class="flex items-center px-3 py-2 rounded text-purple hover:text-dark-purple"></ion-icon>
        </div>
        <!-- container for right of logo -->
        <div id="nav-bar" class="w-full block flex-grow hidden lg:flex lg:items-center lg:w-auto lg:visible">
          <!-- center container -->
          <div class="flex lg:flex-grow">
            <a class="block mt-4 mr-4 text-foreground hover:text-cyan lg:inline-block lg:mt-0" href="#">About</a>
          </div>
          <!-- center right container -->
          <div class="flex flex-col lg:flex lg:flex-row lg:flex-grow lg:justify-end">
            <div class="block inline-block mt-0 mr-4 pt-3 lg:pt-0">
              <button class="bg-green hover:bg-cyan text-background hover:text-background px-5 py-2 rounded-full">Feedback</button>
            </div>
            <div class="block inline-block mt-0 mr-4 pt-3 lg:pt-0">
              <button class="bg-green hover:bg-cyan text-background hover:text-background px-5 py-2 rounded-full hover:bg-[#87acec]">Buy me a coffee</button>
            </div>
          </div>
        </div>
    </header>
    <script>
      dropdown_menu = document.getElementById('nav-bar')
      hamburger_icon = document.getElementById('hamburger-icon')
      function toggle_dropdown_menu(e){
        if (dropdown_menu.classList.contains('hidden')){
          dropdown_menu.classList.remove('hidden')
          hamburger_icon.name = 'close'
        } else {
          dropdown_menu.classList.add('hidden')
          hamburger_icon.name = 'menu'
        }
      }
    </script>
    {% block body %} {% endblock %}
  </body>
  {% block scripts%}{% endblock %}
</html>
