{% extends 'base.html' %} {% block body %}
<div class="w-full h-full bg-foreground flex">
  <div class="w-full lg:w-[66%] m-2 m-4 p-4 inline-block">
    <h1 class="text-4xl pt-2">What:</h1>
    <p class="pt-2 pl-8">
    Fluent friend is a chatbot hooked up to ChatGPT 3.5 which both responds to messages and creates corrections for them. Then a little
    magic behind the scenes takes those corrections and displays them with the changes highlighted.</p>
    </p>
    <h1 class="text-4xl pt-2">Why:</h1>
    <p class="pt-2 pl-8">It's hard to find a friend, let alone a fluent one, who speaks the language you're learning.
    Well, it's the 21st century and we don't need friends anymore! Instead, we can talk to chat bots (the end is nigh!).
    <br><br>
    Fluent friend is based on well studied and simple methods to help you learn. Essentially, practicing a skill helps reify it in your
    little brain. But corrections are necessary to make sure you are learning accurately. Recall -> corrections -> repeat. That's the name of the game!
    <br><br>
    That's the method the creator of fluent friend was using to practice their French! Although it was obvious that ChatGPT was not 
    equiped to help learn in that way. So they decided test out their skills and create a website for all to use.
    </p>
    <h1 class="text-4xl pt-2">Who:</h1>
    <p class="pt-2 pl-8">
    This web app was created by Kyle Kent, a passionate learner of all things French and tech. Although they're a data engineer by trade,
    they wanted to take a stab at creating a website. Et voila!
    <br><br>
    Their linkedin can be found <a class="text-cyan hover:text-green" href="https://www.linkedin.com/in/kyle-kent321/">here</a>.
    <br><br>
    To give feedback please click the feedback button in the navigation bar.
    </p>
  </div>
</div>

{% endblock %} {% block scripts%}
<script>
</script>
{% endblock %}
