{% extends 'base.html' %} {% block body %}
<style>
  .line_separator {
    border-top: 2px solid #0D47A1;
  }
</style>

<!-- 
<div class="p-6 flex flex-col w-full h-screen">
  <h1 class="text-3xl tracking-tight font-light" id="chat-header"></h1>
  <div
    class="mt-4 w-full h-full relative p-2 overflow-y-auto bg-gray-50 border border-gray-200"
    id="chat-box">
    <ul class="space-y-2" id="chat-log">
    </ul>
  </div>
  <div class="mt-4 in-line flex">
    <input
      id="chat-message-input"
      class="w-full py-2 outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:border-blue-500"
      type="text"
      placeholder="Write your message here."
    />
    <button
      id="chat-message-submit"
      class="py-2 px-4 ml-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-800 hover:bg-blue-900"
      type="submit"
    >
      Send
    </button>
  </div>
</div>
-->

{% endblock %} {% block scripts%}
<script>

  // encase function to create websocket
  function create_chat_socket(){
    wss_protocol = window.location.protocol == "https:" ? "wss://" : "ws://";
    chatSocket = new WebSocket(
      wss_protocol + window.location.host + "/ws/chat/"
    );

    chatSocket.onopen = function (e) {
      document.querySelector("#chat-header").innerHTML =
        "Meet your new fluent friend, Fin";

      create_response_message(message_id = 0);
    };

    chatSocket.onmessage = function (e) {
      var data = JSON.parse(e.data);
      var message = data["message"];
      var id = `${data['source']}-${data['message_id']}`

      if (data['source'] == 'bot') {
        message_history.push({'role': 'assistant', 'content': data['message']})
      }

      // on user message greate it and empty response
      if (data['source'] == 'user'){
        create_user_message(data['message'], data['message_id'])        
        // create empty response message
        create_response_message(data['message_id'])
        // not a user message so update correction or response
      } else {
        update_gpt_message(data['message'], data['source'], data['message_id'])
      }

      // scroll down to bot message
      document.getElementById(`bot-${data['message_id']}`).scrollIntoView()

    };

    chatSocket.onclose = function (e) {
      console.log('WebSocket disconnected.')
    };

    return chatSocket
  }


  // empty page message list at page refresh
  message_history = []

  var chatSocket = create_chat_socket()

    function create_message_container(message, source, message_id){

        var id = `${source}-${message_id}`
        var animation_div = `
           <div class="flex justify-center" id=${id}>
                <span class="circle animate-loader"></span>
                <span class="circle animate-loader animation-delay-200"></span>
                <span class="circle animate-loader animation-delay-400"></span>
            </div>
        `

        if (source == 'bot'){
            var start_end_val = 'justify-start'
            var color = 'text-gray-700 bg-white border border-gray-200'
            var separator = ''
            var correction = ''
            var message_div = animation_div

        } else if (source == 'user') {
            var start_end_val = 'justify-end'
            var color = "bg-blue-600 text-white"
            var separator = '<div class="line_separator"></div>'
            var correction = `<div id=${source}-${message-id} className="block font-normal">place holder</div>`
            var message_div = `<div id=${id} className="block font-normal">${message}</div>`
            //var correction = `<span className="block font-normal">${msg.correction}</span>`
        }

        const container = 
            `<li class="flex ${start_end_val}"> 
            <div class="relative max-w-xl px-4 py-2 rounded-lg shadow-md ${color}">
            ${message_div}
            ${separator}
            ${correction}
            </div></li>`

        return container
    }

    function create_user_message(message, message_id){
        var id = `user-${message_id}`
        // only for correction
        var animation_div = `
           <div class="flex justify-center" id=correction-${message_id}>
                <span class="circle animate-loader"></span>
                <span class="circle animate-loader animation-delay-200"></span>
                <span class="circle animate-loader animation-delay-400"></span>
            </div>
        `
        container =
            `<li class="flex justify-end"> 
                <div class="relative max-w-xl px-4 py-2 rounded-lg shadow-md bg-blue-600 text-white">
                <div id=${id} className="block font-normal">${message}</div>
                <div class="line_separator"></div>
                ${animation_div}
            </div></li>`

        // add message to frontend
        document.querySelector("#chat-log").innerHTML += container
        
    }

    function create_response_message(message_id){
        if (message_id == 0){
            var message_div = `
               <div id=bot-${message_id}>Hi! I'm Fin, an AI chat bot that can speak in almost any language. Lets have a conversation and if you make mistakes I'll give you some corrections. Keep in mind the corrections won't be perfect. So to get the best possible results try to use full sentences!</div>
            `

        } else {
            var message_div = `
               <div class="flex justify-center" id=bot-${message_id}>
                    <span class="circle animate-loader"></span>
                    <span class="circle animate-loader animation-delay-200"></span>
                    <span class="circle animate-loader animation-delay-400"></span>
                </div>
            `
        }
        const container = 
            `<li class="flex justify-start"> 
                <div class="relative max-w-xl px-4 py-2 rounded-lg shadow-md text-gray-700 bg-white border border-gray-200">
                    ${message_div}
                </div>
            </li>`

        // add to message list
        document.querySelector("#chat-log").innerHTML += container;
    }

    function update_gpt_message(message, source, message_id){
        var id = `${source}-${message_id}`
        var message_div = `
           <div>${message}</div>
        `
        message_element = document.getElementById(id)
        message_element.textContent = message
    }

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      document.querySelector("#chat-message-submit").click();
    }
  };

    // define how many messages sent for ids
    var message_count = 0
  document.querySelector("#chat-message-submit").onclick = function (e) {
    var messageInputDom = document.querySelector("#chat-message-input");
    message_count += 1
    var message = messageInputDom.value;

    // push new message to message history
    message_history.push({'role': 'user', 'content': message})

    // if socket closed reconnect on new message
    if (chatSocket.readyState == 1){
      chatSocket.send(
        JSON.stringify({
          message: message,
          message_id: message_count,
          message_history: message_history
        })
      );
    } else { 
      console.log('New message but websocket is disconnected. Reinstantiating.')
      chatSocket = create_chat_socket()
      chatSocket.onopen = () => chatSocket.send(
        JSON.stringify({
          message: message,
          message_id: message_count,
          message_history: message_history
        })
      );
    }

    messageInputDom.value = "";
  };

</script>
{% endblock %}
