@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply w-1 h-1 mt-2 mb-1 mx-1 bg-foreground rounded-full;
}

.circle-dark {
  @apply w-1 h-1 mt-2 mb-1 mx-1 bg-background rounded-full;
}

.correction-insert {
    @apply bg-green bg-opacity-50
}

.correction-delete {
    @apply bg-red bg-opacity-30;
    text-decoration: line-through;
}

.journal-list {
    @apply text-background; 
    @apply border border-background;
    @apply min-w-48;
    @apply p-2;
    @apply m-2;
}

.journal-entry {
    @apply text-background;
    @apply border border-background rounded-sm;
    @apply p-2;
    @apply m-2;
    @apply flex-1;
}

.ql-error-tooltip {
  display: none;
  position: absolute;
  background: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.ql-error {
    @apply text-background;
    @apply bg-red bg-opacity-30;
    @apply relative;
}

.ql-error-tooltip {
    display: none;
    @apply bg-green bg-opacity-30; 
    @apply text-background;
    @apply absolute;
}

.ql-error:hover .ql-error-tooltip {
  display: block;
}

.ql-error-tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Position the arrow at the bottom of the tooltip */
    left: 50%; /* Center the arrow */
    transform: translateX(-50%); /* Adjust for centering */
    border-width: 5px; /* Arrow size */
    border-style: solid;
    border-color: #ffebee transparent transparent transparent; /* Arrow color */
}

.ql-toolbar {
  @apply z-20; /* Ensure it's in front */
}

.ql-container {
  @apply z-10; /* Keep the editor behind */
}
